// startup services
spawn-at-startup "hyprpaper"
spawn-at-startup "hyprlock"
spawn-at-startup "waybar"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets,pkcs11"
spawn-at-startup "easyeffects" "--gapplication-service"
spawn-at-startup "/run/current-system/sw/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "xwayland-satellite"

prefer-no-csd
gestures {
    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb {
            layout "us,latam"
            // options "grp:alt_shift_toggle"
        }
        repeat-rate 40
        repeat-delay 250
    }
    mouse {
        scroll-method "on-button-down"
        scroll-button 274
        accel-profile "flat"
        accel-speed 0.0
    }
    trackpoint {
        accel-speed 0.0
        accel-profile "flat"
        scroll-method "on-button-down"
        scroll-button 274
        middle-emulation
    }
}

// output "eDP-1" {
//     mode "1920x1080@60.008"
//     scale 1.0
// }

output "ASUSTek COMPUTER INC VG27AQA1A RALMQS044446" {
    mode "2560x1440@165.003"
    scale 1.0
}

layout {
    gaps 0
    center-focused-column "never"
    border {
        width 4
        active-color "#3569be"
        inactive-color "#333333"
    }
    focus-ring {
        off
    }
}

environment {
    XCURSOR_THEME "macOS"
    XCURSOR_SIZE "24"
}

animations {
    slowdown 1.0
}

window-rule {
    match is-active=true
    opacity 1.0
}
window-rule {
    open-maximized true
}

binds {
    // apps
    Mod+Q { spawn "kitty"; }
    Mod+E { spawn "nemo"; }
    Mod+Space { spawn "rofi" "-show" "drun"; }

    // misc
    Mod+Shift+Space { switch-layout "next"; }

    // screenshots
    Mod+Insert { spawn "hyprshot" "-m" "region" "--clipboard-only"; }
    Mod+Shift+Insert { spawn "hyprshot" "-m" "output" "--clipboard-only"; }

    // window management
    Mod+C { close-window; }
    Mod+V { toggle-window-floating; }
    Mod+Ctrl+BackSpace { toggle-window-floating; }
    Mod+F { maximize-column; }
    Mod+G { fullscreen-window; }
    Mod+Shift+C { center-column; }

    // exit niri
    Mod+M { quit; }

    // window focus
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-up; }
    Mod+Down  { focus-window-down; }

    // window movement
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Down  { move-window-down; }

    // workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // media
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "-l" "1" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioPlay        { spawn "playerctl" "play-pause"; }
    XF86AudioNext        { spawn "playerctl" "next"; }
    XF86AudioPrev        { spawn "playerctl" "previous"; }
}
