BasedOnStyle: LLVM
IndentWidth: 4
IndentCaseLabels: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
ColumnLimit: 90
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  BeforeElse: true
